[Desktop Entry]
Type=Application
Name=Kiosk
Exec=chromium-browser --kiosk --disable-infobars --disable-session-crashed-bubble --noerrdialogs https://features-artist-control-pane.feralfile-display.pages.dev/daily?platform=ff-device
X-GNOME-Autostart-enabled=true