[Unit]
Description=Chromium Kiosk Mode
After=getty@tty1.service
Requires=getty@tty1.service

[Service]
Type=simple
User=feralfile
Group=feralfile
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/cage -- /usr/bin/chromium \
--remote-debugging-port=9222 \
--show-fps-counter \
--no-first-run \
--disable-sync \
--disable-translate \
--disable-infobars \
--disable-features=TranslateUI \
--autoplay-policy=no-user-gesture-required \
file:///opt/feral/ui/launcher/index.html?device_id=ffx1&step=qr
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target