[Unit]
Description=Feral File Setup Service
After=chromium-kiosk.service bluetooth.service network.target
Requires=chromium-kiosk.service bluetooth.service
Wants=network.target
# Add a check for CDP readiness
ExecStartPre=/bin/sh -c 'while ! curl -s http://localhost:9222/json/version >/dev/null; do sleep 0.5; done'

[Service]
Type=simple
User=feralfile
Group=feralfile
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/usr/bin/feral-setupd

[Install]
WantedBy=multi-user.target