[Unit]
Description=FeralFile Updater Instance - %i
After=network.target

[Service]
Type=simple
ExecStart=/home/feralfile/scripts/feral-updater.sh
StandardOutput=append:/home/feralfile/.logs/updaterd.log
StandardError=append:/home/feralfile/.logs/updaterd.log