[Unit]
Description=Feral File Connectd
After=local-fs.target network.target
Wants=network.target

[Service]
Type=notify
User=feralfile
Group=feralfile
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/usr/bin/feral-connectd
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target 