[Unit]
Description=Feral File Connectd
After=chromium-kiosk.service network.target
Requires=chromium-kiosk.service
Wants=network.target
# Add a check for CDP readiness
ExecStartPre=/bin/sh -c 'while ! curl -s http://127.0.0.1:9222/json | grep -q "\"type\": \"page\""; do sleep 0.5; done'

[Service]
Type=simple
User=feralfile
Group=feralfile
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/feral-connectd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target