[Unit]
Description=Feral File Setup Service
After=chromium-kiosk.service bluetooth.service network.target feral-connectd.service
Requires=chromium-kiosk.service bluetooth.service
Wants=network.target
# Add a check for CDP readiness that confirms a page type exists
ExecStartPre=/bin/sh -c 'while ! curl -s http://127.0.0.1:9222/json | grep -q "\"type\": \"page\""; do sleep 0.5; done'

[Service]
Type=simple
User=feralfile
Group=feralfile
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/usr/bin/feral-setupd
Restart=on-failure
RestartSec=2s
StandardOutput=append:/home/feralfile/.logs/setupd.log
StandardError=append:/home/feralfile/.logs/setupd.log

[Install]
WantedBy=multi-user.target