[Unit]
Description=Launcher UI for QR Onboarding
After=network.target

[Service]
ExecStart=/usr/local/bin/launcher-ui
WorkingDirectory=/opt/feral/ui/launcher
Restart=on-failure
Environment=DISPLAY=:0
User=feralfile

[Install]
WantedBy=setup.target